.Navbar {
    position: fixed;
    right: 0;
    top: 0;
    background-color: #1A1A1A ;
    box-shadow: -8px 0px 18px -12px rgba(135,206,235,1);
    
    float: right;
    height: 100vh;
    
    svg {
        padding: 1rem .5rem;
    }

    .icon-tabs {
        margin: 30vh 0;
        color: #323232;

        .active {
            background-color: #323232;
            color: #87CEEB;
        }
        :hover {
            
        }
    }
}
 