.Navbar {
    background-color: #202020 ;
    box-shadow: -8px 0px 18px -12px rgba(135,206,235,1);
    
    float: right;
    height: 100vh;
    
    svg {
        padding: 1rem .5rem;
    }

    .icon-tabs {
        margin: 30vh 0;

        .active {
            background-color: #323232;
            color: #87CEEB;
        }
    }
}
