@import '../../../public/base.scss';

.AboutMe {
    color: white;

    .header-2 {
        margin-left: 2rem;
    }

    .text {
        font-family: monospace;
        font-size: 1.25rem;

        margin: auto;
        margin-top: 10vh;
        max-width: 750px;
        background-color: grey;
        padding: 1.25rem;
        padding-right: 1rem;
        line-height: 1.5;
        text-align: left;

        border-top: 50px solid #262626;

        color: #363636;
    }
}