@import '../../../public/base.scss';

.AboutMe {
    color: white;

    .page-header {
        font-size: 2rem;
        font-weight: 600;
        
        .header-1 {
            color: $primary-blue;
            font-size: 2rem;

            margin-bottom: .5rem;
        }
        .header-2 {
            color: rgb(200,200,200);
            font-size: 1.5rem;
        }
    }

    .text {
        margin: auto;
        margin-top: 10vh;
        max-width: 750px;
        background-color: grey;
        padding: 1.25rem;
        padding-right: 1rem;
        line-height: 1.5;
        text-align: left;

        border-top: 50px solid #262626;

        color: #363636;
    }
}